.home-page-wrapper {
    display: flex;
    padding-top: 200px;
    flex-direction: column;
    align-items: center;
    .user {
        position: absolute;
        top:20px;
        right: 40px;
    }
    .map-wrapper {
        width: 800px;
        height: 600px;
        position: relative;
    }
}