.user-wrapper {
    text-align: center;
    i.huge.icon {
        font-size: 80px !important;
    }
}
.google-login {
    button {
        padding: 5px !important;
        width: 100px !important;
        margin: 5px !important;
    }
}